<!DOCTYPE html>
<html ng-app>

  <head> 
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://bootflat.github.io/bootflat/css/bootflat.css">
    <link rel="stylesheet" href="style.css" />   
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script> 
    <script src="script.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:700,800' rel='stylesheet' type='text/css'>
  </head>

  <body ng-controller="tempController">
    
    <!--input type="number" ng-model="celsius" ng-change="flagInput('C')"/> Celsius<br/>
    <input type="number" ng-model="fahrenheit" ng-change="flagInput('F')"/> Fahrenheit<br/-->

    <div class="row">

    	<div class="col-md-6">

    	  <div class="panel">

    		<div class="tabbable tabs-left clearfix">

    		  <ul id="myTab1" class="nav nav-tabs">

	    		  <li id="first" class="active">
	    		  	<a href="#home3" data-toggle="tab">Temperature</a></li>
	    		  <li id="second">
	    		    <a href="#profile3" data-toggle="tab">Length</a></li>
	    		  <li id="third">
	    		    <a href="#myTabDrop3" data-toggle="tab">Mass</a></li>
	    		  <li id="fourth">
	    		  	<a href="#home4" data-toggle="tab">Area</a></li>
	    		  <li id="fifth">
	    		    <a href="#profile3" data-toggle="tab">Volume</a></li>
	    		  <li id="sixth">
	    		    <a href="#myTabDrop3" data-toggle="tab">Speed</a></li>

    		  </ul>

    		  <div id="myTabContent" class="tab-content">

    		    <div class="tab-pane fade active in" id="home3">

    		    	<input type="number" ng-model="celsius" ng-change="flagInput('C')"/> Celsius<br/>
					<input type="number" ng-model="fahrenheit" ng-change="flagInput('F')"/> Fahrenheit<br/></p>

    		    </div>

    		    <div class="tab-pane fade" id="profile3">

	    		    <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.</p>

    		    </div>

    		    <div class="tab-pane fade" id="myTabDrop3">

    		    	<p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone...</p>

    		    </div>

    		    <div class="tab-pane fade" id="home4">

    		    	<p>Accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.</p>

    		    </div>

    		    <div class="tab-pane fade" id="profile3">

	    		    <p>Locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.</p>

    		    </div>

    		    <div class="tab-pane fade" id="myTabDrop3">

    		    	<p>Wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone...</p>

    		    </div>


    		  </div>

    		</div>
					    				



    				</div>

    				<div class="tab-pane fade" id="profile1">

    				<p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.</p></div><div class="tab-pane fade" id="dropdown1-1"><p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone...</p></div><div class="tab-pane fade" id="dropdown1-2"><p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche ...</p></div></div></div></div>



    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <!-- Bootflat's JS files.-->
    <script src="https://bootflat.github.io/bootflat/js/icheck.min.js"></script>
    <script src="https://bootflat.github.io/bootflat/js/jquery.fs.selecter.min.js"></script>
    <script src="https://bootflat.github.io/bootflat/js/jquery.fs.stepper.min.js"></script>    
    
  </body>

</html>
