/* Styles go here */


#myTabContent {
	padding-left: 11em;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  background-color: #fff;
  font-weight: bold;
}

#myTab1 li {
	font-family: 'Raleway';
}
	    		
#first > a {
	background-color: #ED5565; 
	color: #79131D;
}

#second > a {
	background-color: #FC6E51; 
	color: #A8331B;
}

#third > a {
	background-color: #FFCE54; 
	color: #9B7320;
}

#fourth > a {
	background-color: #A0D468; 
	color: #537C25;
}

#fifth > a {
	background-color: #48CFAD; 
	color: #1B6653;
}

#sixth > a {
	background-color: #4FC1E9; 
	color: #286379;
}




