/* Styles go here */


div#myTabContent.tab-content {
	padding-left: 11em;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  background-color: #fff!important;
  font-weight: bold;
}

ul#myTab1.nav.nav-tabs li {
	font-family: 'Raleway';
}
	    		
ul#myTab1.nav.nav-tabs li#first > a {
	background-color: #ED5565; 
	color: #79131D;
}

ul#myTab1.nav.nav-tabs li#second > a {
	background-color: #FC6E51; 
	color: #A8331B;
}


ul#myTab1.nav.nav-tabs li#third > a {
	background-color: #FFCE54; 
	color: #9B7320;
}

ul#myTab1.nav.nav-tabs li#fourth > a {
	background-color: #A0D468; 
	color: #537C25;
}

ul#myTab1.nav.nav-tabs li#fifth > a {
	background-color: #48CFAD; 
	color: #1B6653;
}

ul#myTab1.nav.nav-tabs li#sixth > a {
	background-color: #4FC1E9; 
	color: #286379;
}

ul#myTab1.nav.nav-tabs.nav-justified a {
	background-color: #37BC9B; 
	color: #26816a;
}

ul#myTab1.nav.nav-tabs.nav-justified a:hover {
	color: white;
}




 		/*<div class="panel">
    			<ul id="myTab1" class="nav nav-tabs nav-justified">
    			<li class="active">

    			    //#37BC9B;
    				//#48cfad; 
    				<a href="#home1" data-toggle="tab">Temperature</a></li>*/


